In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [24]:
#Read in ISIC 19 dataset
df_isic = pd.read_csv("../../Skin cancer stuff/datasets/ISIC 2019/ISIC_2019_Training_GroundTruth.csv", index_col='image')
df_isic.head()

              MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
image
ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [25]:
#Read in HAM10000 dataset
df_ham = pd.read_csv("../../Skin cancer stuff/datasets/HAM10000/HAM10000_metadata.csv")
df_ham.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

# Start combination

In [26]:
isic_dataset_columns = {
    'image_id': [],
    'target': [],
    'source': []
}

In [27]:
df_isic_meta = pd.read_csv('../../Skin cancer stuff/datasets/ISIC 2019/ISIC_2019_Training_Metadata.csv', index_col='image')

for image_id, row in tqdm(df_isic_meta.iterrows(), total = df_isic_meta.shape[0]):
    if image_id in isic_dataset_columns['image_id']:
        continue
        
    #ignoring squamous cell carcinoma
    scc = int(df_isic.loc[image_id]['SCC'])
    if scc:
        continue

    isic_dataset_columns['image_id'].append(image_id)
    
    mel = int(df_isic.loc[image_id]['MEL'])
    nev = int(df_isic.loc[image_id]['NV'])
    bcc = int(df_isic.loc[image_id]['BCC'])
    ak = int(df_isic.loc[image_id]['AK'])
    bkl = int(df_isic.loc[image_id]['BKL'])
    df = int(df_isic.loc[image_id]['DF'])
    vasc = int(df_isic.loc[image_id]['VASC'])
    if mel:
        isic_dataset_columns['target'].append('mel')
    elif nev:
        isic_dataset_columns['target'].append('nev')
    elif bcc:
        isic_dataset_columns['target'].append('bcc')
    elif ak:
        isic_dataset_columns['target'].append('ak')
    elif bkl:
        isic_dataset_columns['target'].append('bkl')
    elif df:
        isic_dataset_columns['target'].append('df')
    elif vasc:
        isic_dataset_columns['target'].append('vasc')
    
    isic_dataset_columns['source'].append('ISIC19')

100%|██████████| 25331/25331 [00:55<00:00, 454.33it/s]

In [30]:
isic_dataset = pd.DataFrame(isic_dataset_columns).set_index('image_id')

In [31]:
isic_dataset.head()

             target  source
image_id
ISIC_0000000    nev  ISIC19
ISIC_0000001    nev  ISIC19
ISIC_0000002    mel  ISIC19
ISIC_0000003    nev  ISIC19
ISIC_0000004    mel  ISIC19

In [32]:
isic_dataset['image'] = isic_dataset.index

In [35]:
isic_dataset.to_csv('../../Skin cancer stuff/datasets/ISIC 2019/prepped_isic2019.csv')

In [36]:
del df_ham['dx_type']
del df_ham['sex']
del df_ham['age']
del df_ham['localization']
del df_ham['lesion_id']

In [37]:
df_ham.head()

       image_id   dx
0  ISIC_0027419  bkl
1  ISIC_0025030  bkl
2  ISIC_0026769  bkl
3  ISIC_0025661  bkl
4  ISIC_0031633  bkl

In [38]:
df_ham['source'] = 'HAM10000'
df_ham['image'] = df_ham['image_id']

In [39]:
df_ham.head()

       image_id   dx    source         image
0  ISIC_0027419  bkl  HAM10000  ISIC_0027419
1  ISIC_0025030  bkl  HAM10000  ISIC_0025030
2  ISIC_0026769  bkl  HAM10000  ISIC_0026769
3  ISIC_0025661  bkl  HAM10000  ISIC_0025661
4  ISIC_0031633  bkl  HAM10000  ISIC_0031633

In [41]:
df_ham.columns = ['image_id', 'target', 'source', 'image']

In [42]:
df_ham.head()

       image_id target    source         image
0  ISIC_0027419    bkl  HAM10000  ISIC_0027419
1  ISIC_0025030    bkl  HAM10000  ISIC_0025030
2  ISIC_0026769    bkl  HAM10000  ISIC_0026769
3  ISIC_0025661    bkl  HAM10000  ISIC_0025661
4  ISIC_0031633    bkl  HAM10000  ISIC_0031633

In [43]:
df_ham.set_index('image_id')

             target    source         image
image_id
ISIC_0027419    bkl  HAM10000  ISIC_0027419
ISIC_0025030    bkl  HAM10000  ISIC_0025030
ISIC_0026769    bkl  HAM10000  ISIC_0026769
ISIC_0025661    bkl  HAM10000  ISIC_0025661
ISIC_0031633    bkl  HAM10000  ISIC_0031633
...             ...       ...           ...
ISIC_0033084  akiec  HAM10000  ISIC_0033084
ISIC_0033550  akiec  HAM10000  ISIC_0033550
ISIC_0033536  akiec  HAM10000  ISIC_0033536
ISIC_0032854  akiec  HAM10000  ISIC_0032854
ISIC_0032258    mel  HAM10000  ISIC_0032258

[10015 rows x 3 columns]

In [44]:
isic_dataset.head()

             target  source         image
image_id
ISIC_0000000    nev  ISIC19  ISIC_0000000
ISIC_0000001    nev  ISIC19  ISIC_0000001
ISIC_0000002    mel  ISIC19  ISIC_0000002
ISIC_0000003    nev  ISIC19  ISIC_0000003
ISIC_0000004    mel  ISIC19  ISIC_0000004

In [45]:
df_ham.to_csv('../../Skin cancer stuff/datasets/HAM10000/prepped_ham.csv')

In [47]:
concatenated = pd.concat([isic_dataset, df_ham], ignore_index=True)

In [48]:
concatenated.shape

(34718, 4)

In [50]:
del concatenated['image_id']

In [51]:
concatenated.to_csv('../../Skin cancer stuff/datasets/combined-ham-and-isic2019/combined_csv.csv')